<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <% if (validationArray.find(e => e.param === 'email')) { %>
                    <% var invalidInput = validationArray.find(e => e.param === 'email') %>
                <% } %>
                <label for="email">E-Mail</label>
                <input 
                class="<%= invalidInput ? 'invalid' : '' %>" 
                type="email" 
                name="email" 
                id="email" 
                value="<%= oldInput.email%>">
                <% if (invalidInput) { %>
                    <div class="validation-msg"><%= invalidInput.msg %></div>
                <% } %>
            </div>
            <div class="form-control">
                <% if (validationArray.find(e => e.param === 'password')) { %>
                    <% var invalidInput = validationArray.find(e => e.param === 'password') %>
                <% } %>
                <label for="password">Password</label>
                <input 
                class="<%= invalidInput ? 'invalid' : '' %>" 
                type="password" 
                name="password" 
                id="password" 
                value="<%= oldInput.password%>">
                <% if (invalidInput) { %>
                    <div class="validation-msg"><%= invalidInput.msg %></div>
                <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>
        <div class="centered">
            <a href="/reset">Reset Password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>